<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="mx-3"></div>
  <span>Welcome</span>
  <div class="spacer"></div>
  <div class="btn-group seleccion" role="group" aria-label="Button group name">
    <button type="button" class="btn btn-outline-primary" (click)="Listar()">
      Listar
    </button>
    <button type="button" class="btn btn-outline-warning" (click)="Nuevo()">
      Nuevo
    </button>
  </div>
  <div class="spacer"></div>
</div>

<!-- <div class="content" role="main"></div> -->

<router-outlet></router-outlet>
